.left{
    float: left;
    width: 50%;
    background-color: aquamarine;
}

.right{
    float: right;
    width: 50%;
    background-color: chocolate;
}

footer{
    clear: both;
    background-color: darkcyan;
    text-align: center;
}

.img_left{
    float: left;
}

.img_right{
    float: right;
}